body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .bg {
    /* The image used */
    background-image: url("back-2.jpg");    /* BACKGROUND IMAGE!!! */
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }


.bg{
      color: aliceblue;
}

.jumbotron p{                  /*RESPONSIVE font size*/
      font-size: 150%;
}

.jumbotron h1{
      font-size: 300%;
} 

form{
   margin-top: 100px;
}

.port{
    margin-top: 50px;
    font-size: 20px;
    background-color: aliceblue;
    color: #343a40;
    opacity: 0.65;
    padding: 20px;
}

.btn-info{
    margin-right: 10px;
}

/* .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
*/
  footer {
    background-color: aliceblue;
    width: 100%;
    height: 75px;
  }


.row-custom{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.container-custom{
    width: 100%;
    height: 100%;
}